<div>
  <h1>Mensajes Padre</h1>
  <h3>el mensaje del padre es: {{ mensaje1 }} </h3>
  <h3>el mensaje del padre es: {{ mensaje2 }} </h3>
</div>

<div>
  <h1>Mensajes Hijo</h1>
  <h4>{{mensaje3 | json}}</h4>
  <h4>{{mensaje4 | json}}</h4>
</div>
